/* Put your CSS here */
html, body {
  padding: 10px;
}

img {
  border-radius: 2px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.columns {
  padding: 0;
}

.row {
  max-width: 100% !important;
}
