<ol>
{{#each}}
    <li class="row collapse">
      <div class="map small-7 medium-9 large-10 columns">{{view Here.MapView latitude=latitude longitude=longitude}}</div>
      <div class="small-5 medium-3 large-2 columns">
        <img {{ bind-attr src=url_q }} />
      </div>
    </li>
{{/each}}
</ol>
